<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BreezeAPI.MainPath" value="http://BreezeAPI-Dev:8888/"/>
    <!--Return Type value: json, xml, html -->
    <add key="BreezeAPI.ReturnType" value="json"/>
    <add key="BreezeAPI.TokenEndPoint" value="token"/>
    <add key="BreezeAPI.TimestampEndPoint" value="timestamp?filter~"/>
    <add key="BreezeAPI.Header.Authorization" value="authorization"/>
    <add key="BreezeAPI.Header.AuthToken" value="auth_token"/>
  </appSettings>
</configuration>